html, body{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    color: white;
    
}

header h2{
    padding: 0;
    margin: 0;
    font-style: italic;
}

.index{
    position: absolute;
    right: 0%;
    
}


footer{
    position: absolute;
    bottom: 0%;
    background-color: black;
    color: white;
}
